body{
    background-color: #343a40;
}

.navbar
{
    font-size: 1.6rem;
}

.lead{
    font-size: 1.5em;
}

.comic{
    margin: 30px;
}
#comicPic{
    display: static;
    text-align: center;
    margin: 50px;
}

.comic h1, 
.comic p {
    margin: 0px;
    display: inline;
}

.comic h1 {
    font-weight: bold;
    color:rgb(69, 227, 255);
    font-size: 20px;
}

.comic p{
  color:rgb(235, 37, 136);
}